name: 'Testing XamlX'

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  configuration: Release

jobs:
  build:

    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest ]

    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:

    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: Build
      run: dotnet build -c ${{ env.configuration }}

    - name: Run tests
      working-directory: tests
      run: |
          dotnet test -c ${{ env.configuration }} --no-build CecilNetstandardTests/CecilNetstandardTests.csproj
          dotnet test -c ${{ env.configuration }} --no-build CecilTests/CecilTests.csproj

    - name: Run tests XamlParserTests netcoreapp3.1
      working-directory: tests/XamlParserTests
      run: dotnet test -c ${{ env.configuration }} --no-build --framework netcoreapp3.1 XamlParserTests.csproj

    - name: Run tests XamlParserTests net47
      if: matrix.os == 'windows-latest'
      working-directory: tests/XamlParserTests
      run: dotnet test -c ${{ env.configuration }} --no-build --framework net47 XamlParserTests.csproj
